<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thingtrack.menes.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MenesMobile</name>
    <description>
        La aplicación del hospital veterinario Nacho Menes.
    </description>
    <author email="info@thingtrack.com" href="http://www.thinhtrack.com">
        Thingtrack S.L.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/res/icon.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
</widget>
