<p>
	 Fundado en 1983, el H.V. Nacho Menes&nbsp;fue&nbsp;el primer centro veterinario de Asturias abierto las 24 horas con dedicación exclusiva a los animales de compañía.
</p>
<p>
	Durante estos años, en los que se ha convertido en hospital de referencia y centro formador de un gran número de compañeros veterinarios distribuidos por todo el país, hemos evolucionado en consonancia a las necesidades y expectativas de los pacientes y clientes más exigentes.&nbsp;
</p>
<p>
	Así, en la actualidad el H.V.Nacho Menes esta formado por un equipo de veterinarios y auxiliares multidisciplinar, con profesionales especializados en las diferentes áreas de la medicina veterinaria, lo que junto con la tecnología mas puntera a nuestro alcance, la experiencia, y el entusiasmo por nuestro trabajo, nos permite seguir cuidando a nuestras mascotas como se merecen.
</p>