<form ng-submit="addReminder(reminder)" apply-jqm>
	<ul data-role="listview" data-inset="true">
		<li data-role="list-divider">Datos del paciente(s)</li>
		<li class="ui-field-contain">
	    	<label for="reminder-text">Nombre(s)</label>
	    	<input name="reminder-text" id="reminder-text" type="text" ng-model="reminder.text">
		</li>
		<li class="ui-field-contain">
			<label for="reminder-pet">Especie</label>
   			<select name="reminder-pet" id="reminder-pet" 
   				ng-model="reminder.pet" 
   				ng-options="pet.id as pet.name for pet in pets"
   				ng-change="changePet(reminder.pet)"
   				apply-jqm-select-refresh>
       		</select>			
		</li>
		<li data-role="list-divider">Tratamiento</li>
		<li class="ui-field-contain">
			<label for="reminder-treatment">Tipo</label>
   			<select name="reminder-treatment" id="reminder-treatment" 
   				ng-model="reminder.treatment.type"
   				ng-options="treatment.id as treatment.name for treatment in treatments"
   				ng-change="changeTreatment(reminder.treatment.type)"
   				apply-jqm-select-refresh>        	
       		</select>				
		</li>
		<li class="ui-field-contain" ng-show="reminder.treatment.type == 0">
	    	<fieldset data-role="controlgroup">
	    		<legend>Tipo vacunas</legend>
	    		<label for="vaccine.quadrivalent" ng-show="reminder.pet == 0">
	    			<input name="vaccine.quadrivalent" id="vaccine.quadrivalent" type="checkbox" 
	    				ng-model="reminder.treatment.vaccines.quadrivalent" 
	    				ng-true-value="0"
	    				ng-false-value="-1"
	    				ng-show="reminder.pet == 0">
	    			Tetravalente
	    		</label>
	    		<label for="vaccine.rabies" ng-show="reminder.pet == 0">
	    			<input name="vaccine.rabies" id="vaccine.rabies" type="checkbox" 
	    				ng-model="reminder.treatment.vaccines.rabies"
	    				ng-true-value="1"
	    				ng-false-value="-1"
	    				ng-show="reminder.pet == 0">
	    			Antirrábica
	    		</label>
	    		<label for="vaccine.pneumodog" ng-show="reminder.pet == 0">
		    		<input name="vaccine.pneumodog" id="vaccine.pneumodog" type="checkbox" 
		    			ng-model="reminder.treatment.vaccines.pneumodog"
		    			ng-true-value="2"
		    			ng-false-value="-1"
		    			ng-show="reminder.pet == 0">
	    			Pneumodog
	    		</label>
	    		<label for="vaccine.trivalent" ng-show="reminder.pet == 1">
		    		<input name="vaccine.trivalent" id="vaccine.trivalent" type="checkbox" 
		    			ng-model="reminder.treatment.vaccines.trivalent"
		    			ng-true-value="3"
		    			ng-false-value="-1"
		    			ng-show="reminder.pet == 1">
	    			Trivalente
	    		</label>
	    		<label for="vaccine.leukemia" ng-show="reminder.pet == 1">
		    		<input name="vaccine.leukemia" id="vaccine.leukemia" type="checkbox" 
		    			ng-model="reminder.treatment.vaccines.leukemia"
		    			ng-true-value="4"
		    			ng-false-value="-1"
		    			ng-show="reminder.pet == 1">
	    			Leucemia
	    		</label>	
			</fieldset>			
		</li>
		<li class="ui-field-contain" ng-show="reminder.treatment.type != 0">
			<label for="reminder-notes">Producto</label>
			<input name="reminder-text" name="reminder-notes" type="text" ng-model="reminder.treatment.notes">	    	
		</li>
		<li class="ui-field-contain">
	    	<label for="reminder-begin">Próxima</label>
	    	<input name="reminder-begin" id="reminder-begin" type="text" mobiscroll-date="reminder.begin" 
				mobiscroll-options="{ 
						display: 'bottom',
						mode: 'mixed',
						theme: 'jqm',
						dateFormat: 'dd/mm/yy',
						dateOrder: 'ddmmyy',
						dayText: 'Días',
						monthText: 'Mes',
						yearText: 'Año',
						setText: 'Aceptar',
						cancelText: 'Cancelar'
					}" />
		</li>
		<li class="ui-field-contain">
			<label for="reminder-frequency">Frecuencia</label>
			<select name="reminder-frequency" id="reminder-frequency" data-mini="true" 
				ng-model="reminder.frequency" ng-options="frequency.id as frequency.text for frequency in frequencies"
				ng-change="changeFrequency(reminder.frequency)"
				apply-jqm-select-refresh >
	   		</select>			
		</li>
		<li class="ui-field-contain">
			<label for="reminder-duration">Avisar durante</label>
			<input name="reminder-duration" id="reminder-duration" ng-model="reminder.duration" ng-disabled="reminder.frequency == 0" disabled="disabled" 
				mobiscroll-number="reminder.duration" 
		   		mobiscroll-options="{
		   				display: 'bottom',
		   				theme: 'jqm',
		   				mode: 'scroller',
	        			layout: 'fixed',
	        			step: 1,
	        			min: 1,
	        			max: 2,
	        			wholeText: 'Años',
	        			setText: 'Aceptar',
						cancelText: 'Cancelar'
		   	}">			
		</li>
		<li class="ui-field-contain">
			<button type="submit" data-theme="b">Crear</button>	
		</li>
	</form>
</ul>