<p>
	Nuestro equipo de veterinarios realiza guardias presenciales las 24 horas, 365 días al año, ya que entendemos que ésta es la única manera de atender las urgencias con la rapidez que a menudo requieren, y de dar a los pacientes hospitalizados la atención  propia de una unidad de cuidados intensivos.
</p>
<p>
	Dado el avance que ha sufrido en los últimos años la medicina transfusional en veterinaria ,hemos completado nuestra unidad de cuidados intensivos con la puesta en marcha de un banco de sangre que nos permite  disponer de manera inmediata de diversos hemoderivados  de vital importancia en el servicio de urgencias. El laboratorio del hospital dispone de los medios necesarios para conocer el grupo sanguíneo del receptor y realizar las pruebas de compatibilidad en el mínimo tiempo.
</p>

