<p>
	A pesar de que la fase de rehabilitación ha sido históricamente menospreciada por traumatólogos y neurocirujanos veterinarios, consideramos que al igual que sucede en medicina humana, el trabajo de rehabilitación posterior a la cirugía  es un factor determinente en la recuperación de la mayoría de los pacientes que han sido intervenidos por patologías neurológicas o traumatológicas.
</p>
<p>
	Asi mismo, puede aumentar de manera importante la calidad de vida de los pacientes con problemas ortopédicos crónicos.
</p>
<p>
	Por ello, ponemos a su disposición un servicio de fisioterapia, dirigido por personal especializado, cuyo único fin es el bienestar de su mascota.
</p>
