<div apply-jqm>
	<ul data-role="listview" data-inset="true" apply-jqm-list>
	    <li><a href="#/services/medicine">Medicina Vet</a></li>
	    <li><a href="#/services/urgency">Urgencias 24h</a></li>
	    <li><a href="#/services/cats">Gatos</a></li>
	    <li><a href="#/services/reproduction">Reproducción</a></li>
	    <li><a href="#/services/physiotherapy">Fisioterapia</a></li>
	    <li><a href="#/services/hairdressing">Peluquería</a></li>
	    <li><a href="#/services/shop">Tienda</a></li>
	</ul>
</div>