<ul data-role="listview">
	<li><a href="#/home"><img src="img/icons/home.png" alt="home" class="ui-li-icon ui-corner-none">Principal</a></li>
	<li data-role="list-divider">El hospital</li>
	<li><a href="#/about"><img src="img/icons/users.png" alt="home" class="ui-li-icon ui-corner-none">Sobre nosotros</a></li>
	<li><a href="#/services"><img src="img/icons/aid.png" alt="home" class="ui-li-icon ui-corner-none">Servicios</a></li>
	<li><a href="#/facilities"><img src="img/icons/info.png" alt="home" class="ui-li-icon ui-corner-none">Instalaciones</a></li>
	<li><a href="#/location"><img src="img/icons/location.png" alt="home" class="ui-li-icon ui-corner-none">Localizaci&oacute;n</a></li>
	<li data-role="list-divider">Tratamientos</li>
	<li><a href="#/reminder"><img src="img/icons/bullhorn.png" alt="home" class="ui-li-icon ui-corner-none">Recordatorios</a></li>
	<!--<li data-role="list-divider">&nbsp;</li>
	<li><a href="#/suggestions">Escr&iacute;benos</a></li>-->
</ul>
