<ul data-role="listview" data-theme="b">
	<li><a href="#/home"><img src="img/icons/home.png" alt="home" class="ui-li-icon ui-corner-none">Principal</a></li>
	<li data-role="list-divider">El hospital</li>
	<li><a href="#/about"><img src="img/icons/users.png" alt="users" class="ui-li-icon ui-corner-none">Sobre nosotros</a></li>
	<li><a href="#/services"><img src="img/icons/aid.png" alt="aid" class="ui-li-icon ui-corner-none">Servicios</a></li>
	<li><a href="#/facilities"><img src="img/icons/info.png" alt="info" class="ui-li-icon ui-corner-none">Instalaciones</a></li>
	<li><a href="#/location"><img src="img/icons/location.png" alt="location" class="ui-li-icon ui-corner-none">Localizaci&oacute;n</a></li>
	<li><a href="http://www.hvnachomenes.com/" target="_blank"><img src="img/icons/earth.png" alt="site" class="ui-li-icon ui-corner-none">Sitio web</a></li>
	<li><a href="https://www.facebook.com/pages/Hospital-Veterinario-Nacho-Menes/267673346655335" target="_blank"><img src="img/icons/facebook.png" alt="facebook" class="ui-li-icon ui-corner-none">Facebook</a></li>
	<li data-role="list-divider">Recordatorios</li>
	<li><a href="#/reminder"><img src="img/icons/bullhorn.png" alt="bullhorn" class="ui-li-icon ui-corner-none">Recordatorios</a></li>
</ul>
